.addTodo {
  display: flex;
  margin-top: 10px;
  gap: 10px;

  &__input {
    padding: 15px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
  }

  &__button {
    width: 20%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
}
