html {
  border: 1px purple dotted;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3d3;
  border: 1px red dotted;
  height: 100%;
}
h1 {
  margin: 0;
  padding: 0%;
}
p {
  margin: 0;
  padding: 0;
}
