html {
  border: 1px purple dotted;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  border: 1px red dotted;
  height: 100%;
}
